    /* Place the navbar at the bottom of the page, and make it stick */
    #bottomNav {
        background-color: white;
        box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    /* Style the links inside the navigation bar */
    #bottomNav i {
        float: left;
        display: block;
        margin-left: 30px;
        margin-right: 30px;
        text-align: center;
        /* padding: 30px 30px; */
        text-decoration: none;
        font-size: 1.5em;
    }

    #Navbtn {
        border: none;
        float: left;
        display: block;
        margin-left: 30px;
        margin-right: 30px;
        border-radius: 34px;
        padding: auto;
        background-color: rgb(255, 244, 35);
    }